<AuthorizeView Roles="@this.Roles" Policy="@this.Policy">
    <Authorized>
        <span style="color:#006600;">@ChildContent</span>
    </Authorized>
    <Authorizing>
        <span style="color:#000066;">@ChildContent</span>
    </Authorizing>
    <NotAuthorized>
        <span style="color:#660000;">@ChildContent</span>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? Roles { get; set; }

    [Parameter]
    public string? Policy { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}