<AuthorizeView Roles="@this.Roles" Policy="@this.Policy">
    <Authorized>
        <span style="color:#88FF88;">@ChildContent</span>
    </Authorized>
    <Authorizing>
        <span style="color:#8888FF;">@ChildContent</span>
    </Authorizing>
    <NotAuthorized>
        <span style="color:#FF8888;">@ChildContent</span>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? Roles { get; set; }

    [Parameter]
    public string? Policy { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}