@using System.Security.Claims
@inject NavigationManager NavigationManager;

<AuthorizeView Roles="@this.Roles" Policy="@this.Policy">
    <Authorized>
        @foreach (var identity in context.User.Identities)
        {
            var roles = string.Join(", ", identity.FindAll(ClaimTypes.Role).Select(r => r.Value));
            <p>
                <span>@identity.Name</span>
                @if (roles.Length > 0)
                {
                    <i>(@roles)</i>
                }
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Claim Type</th>
                        <th>Claim Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in identity.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <Authorizing>Authorizing...</Authorizing>
    <NotAuthorized>
        <p>
            Unauthorized: @this.NavigationManager.ToBaseRelativePath(this.NavigationManager.Uri)
        </p>
        <p style="color:#BB0000;">
            If you see this, then the defined policies from the authorization builder did not affect the blazor components.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [Parameter]
    public string? Roles { get; set; }

    [Parameter]
    public string? Policy { get; set; }
}