@using BlazorAuthorizationOptions.Components.Pages;
@using BlazorAuthorizationOptions.Components.Pages.Authenticated;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://learn.microsoft.com/en-us/aspnet/core/security/authorization/policies">
            AuthorizationOptions in Blazor
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Authentication.Route">
                <AuthorizeView Policy="Fallback">
                    <Authorized>
                        Account
                    </Authorized>
                    <NotAuthorized>
                        Sign In
                    </NotAuthorized>
                </AuthorizeView>
            </NavLink>
        </div>
        
        <hr/>

        <AuthorizeNavLink Roles="Admin" Href="@RequiresAdmin.Route">Admin</AuthorizeNavLink>
        <AuthorizeNavLink Roles="Moderator" Href="@RequiresModerator.Route">Moderator</AuthorizeNavLink>
        <AuthorizeNavLink Roles="Member" Href="@RequiresMember.Route">Member</AuthorizeNavLink>
        <AuthorizeNavLink Policy="Default" Href="@RequiresDefaultPolicy.Route">Default Policy</AuthorizeNavLink>
        <AuthorizeNavLink Policy="Fallback" Href="@RequiresFallbackPolicy.Route">Fallback Policy</AuthorizeNavLink>
    </nav>
</div>